/* Unbold the leading package names */
dt sup {
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
    vertical-align: baseline;
    top: auto;
    font-size: medium;
}

dt {
    padding-bottom: 5px;
}

.rst-content dl dd {
    margin-bottom: 20px;
}

.code-block-caption {
    text-align: right;
    margin-bottom: 4px;
}

.code-block-caption .headerlink {
    display: none;
}

/* Simulate :maxdepth: 2 only for api-advanced */
.toctree-l2 > a[href^=api-advanced] + ul {
    display: none;
}
